
h1 {
       color: red;
       text-align: center;
}
 
h2 {
       color: pale red;
       text-align: center-right;
}
 
p {
       color: green;
       text-align: center;
}
 
.rotate {
          width: 200px;
          height: 100px;
          background:blue;
          transform-origin:100% -50%;
          text-align: center;
        }
           
.scale {
          width: 100px;
          height: 100px;
          background: teal;
          transform: scale (0.5,1.3);
}

. translate {
              width: 100px;
              height: 100px;
              background: teal;
              transform: translate(200 po x,50);
}

.skew{
         width: 200px;
         height: 100px;
         background: blue;
         transform: skew(-10deg,-20deg);
         transform-origin:90%,-120%;
         border-radius:50px;
}




