/* Add all your styles here */
h3 {
    color: yellow;
    font-size: 2em;
    text-align: center;
}

.skew{
         width: 200px;
         height: 100px;
         background: blue;
         transform: skew(10deg,-24deg);
         border-radius:200px;
}
. purple-color{
  color: 8845f4;
}
body{
  font-family: sans-serif; 
  color: #777777;
}
.side-img{
  width: 50%;
  padding-left: 25%;
  border-radius: 1000px;
}

. primary-btn{
  color: white;
  background color: 8845f4;
  padding: 12px; 
  border-radius: 20px;
  text-declaration: none;
}
h1{
  font-size: 2.5em;
}
.container {
            padding-left: 5%;
            display: inline-inline-block;
}
.experiences{
            padding: 30px;
            margin: 30px;
            background-color: (238, 251, 255);
            border-radius: 20px;
}
. experience-item{
            padding: 10px;
            background-color:1px solid rgba(137,130,247,.2);
}

a {
     color: green;
     text-align: left;
     border: 1px solid blue;
}



